* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

/* Header */

.header-content-container {
    width: 100%;
    height: 50px;
    padding-right: 5px;
}

.icon-container {
    background-color: #3e3e50;
    color: white;
    border-radius: 5px;
    padding: 2px 6px;
    margin: 10px 3px;
}

.fa-teamspeak {
    margin-right: 3px;
}


/* Main */

.video-box {
    width: 250px;
    height: 150px;
    background-color: red;
    margin: 5px;
}

/* Footer */

.footer-content {
    height: 60px;
    margin-top: 25px;
    background-color: blue;
}

/* ID ONLY*/

#general-container {
    max-width: 1500px;
    margin: 10px auto; 
    background-color: black;
}

#videos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Generic classes */

.clearfix {
    content: '';
    display: table;
    clear: both;                
}

.fl {
    float: left;
}

.fr {
    float: right;
}


